<h1 class="mt-5"><%= @infrastructure.identifier %></h1>

<%= render "shared/tabs", locals: { infrastructure: @infrastructure } %>

<% @infrastructure_variables.each_pair do |environment_name, infrastructure_variables| %>
  <h3><%= "#{environment_name}" %></h2>
  <%= render "environment_variable_table", infrastructure: @infrastructure, infrastructure_variables: infrastructure_variables, environment_name: environment_name %>
<% end %>
